Frontend/node_modules/
Backend/node_modules/

Frontend/.env
Backend/.env

logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

Frontend/build/
Frontend/dist/

coverage/

.vscode/
.idea/

package-lock.json
yarn.lock

.DS_Store